// PAGINATION
.pagination
  .pagination__list
    li.is-active
      a(href="#")
        span 1
    li
      a(href='#')
        span 2
    li
      a(href='#')
        span 3
    li
      a(href='#')
        span 4
    li
      a(href='#')
        span 5
    li.pagination__separator
      span ...
    li
      a(href="#")
        span 13
