// Projects
.projects.section-dark
  .container
    .row.projects__grid
      .col.col-6.col-md-12
        a(href="#").projectCard
          .projectCard__panel
            .projectCard__content
              .projectCard__title ПОСЕТИТЬ <br/>ГИПЕРМУЗЕЙ
              .projectCard__link museum.festivalnauki.ru
            .projectCard__arrow.dynamic-arrow
              +svgMono('arrow-right-end')
          .projectCard__cover
            img(src='img/projects/projects-1.jpg' srcset='img/projects/projects-1@2x.jpg 2x')
      .col.col-6.col-md-12
        a(href="#").projectCard
          .projectCard__panel
            .projectCard__content
              .projectCard__title ПОСЕТИТЬ <br/>ЛЕКТОРИЙ
              .projectCard__link lectorium.festivalnauki.ru
            .projectCard__arrow.dynamic-arrow
              +svgMono('arrow-right-end')
          .projectCard__cover
            img(src='img/projects/projects-2.jpg' srcset='img/projects/projects-2@2x.jpg 2x')
