// Greetings
.greetings.section-dark
  .container
    h2.h2-title.c-accent Приветствия организаторов и партнёров

    .greetings__grid.js-greetings.js-limit-height
      .greetings__col.is-active
        .greetingCard.is-active
          .greetingCard__avatar
            img(src='img/greeting/greeting-1.jpg' srcset='img/greeting/greeting-1@2x.jpg 2x')
          .greetingCard__content
            .greetingCard__text
              p Научные достижения формируют культурный, образовательный и интеллектуальный потенциал нации. И для нас очевидно, что сильная наука, готовность генерировать новые знания и технологии – это залог самостоятельного, суверенного развития любого государства в современном мире и, конечно, России.

            .greetingCard__author
              .greetingCard__arrow
                +svgMono('arrow-right-end')
              .greetingCard__author-name ПУТИН ВЛАДИМИР ВЛАДИМИРОВИЧ
              .greetingCard__author-position Президент Российской Федерации, председатель попечительского совета МГУ имени М.В. Ломоносова

      .greetings__col
        .greetingCard
          .greetingCard__avatar
            img(src='img/greeting/greeting-2.jpg' srcset='img/greeting/greeting-2@2x.jpg 2x')
          .greetingCard__content
            .greetingCard__text
              p Научные достижения формируют культурный, образовательный и интеллектуальный потенциал нации. И для нас очевидно, что сильная наука, готовность генерировать новые знания и технологии – это залог самостоятельного, суверенного развития любого государства в современном мире и, конечно, России.

            .greetingCard__author
              .greetingCard__arrow
                +svgMono('arrow-right-end')
              .greetingCard__author-name ФАЛЬКОВ ВАЛЕРИЙ НИКОЛАЕВИЧ
              .greetingCard__author-position Председатель оргкомитета Фестиваля науки, министр науки и высшего образования

      .greetings__col
        .greetingCard
          .greetingCard__avatar
            img(src='img/greeting/greeting-3.jpg' srcset='img/greeting/greeting-3@2x.jpg 2x')
          .greetingCard__content
            .greetingCard__text
              p Научные достижения формируют культурный, образовательный и интеллектуальный потенциал нации. И для нас очевидно, что сильная наука, готовность генерировать новые знания и технологии – это залог самостоятельного, суверенного развития любого государства в современном мире и, конечно, России.

            .greetingCard__author
              .greetingCard__arrow
                +svgMono('arrow-right-end')
              .greetingCard__author-name ФАЛЬКОВ ВАЛЕРИЙ НИКОЛАЕВИЧ
              .greetingCard__author-position Сопредседатель оргкомитета Фестиваля науки, ректор МГУ имени М.В. Ломоносова, академик

      .greetings__col
        .greetingCard
          .greetingCard__avatar
            img(src='img/greeting/greeting-4.jpg' srcset='img/greeting/greeting-4@2x.jpg 2x')
          .greetingCard__content
            .greetingCard__text
              p Научные достижения формируют культурный, образовательный и интеллектуальный потенциал нации. И для нас очевидно, что сильная наука, готовность генерировать новые знания и технологии – это залог самостоятельного, суверенного развития любого государства в современном мире и, конечно, России.

            .greetingCard__author
              .greetingCard__arrow
                +svgMono('arrow-right-end')
              .greetingCard__author-name СЕРГЕЕВ АЛЕКСАНДР МИХАЙЛОВИЧ
              .greetingCard__author-position Президент Российской Академии Наук
