// note
.profile__section
  h4.h4-title.c-accent Объявление

  .profileNote
    .wysiwyg
      h4 Уважаемые участники конкурса детского рисунка!
      p Здесь показаны все рисунки, которые Вы отправили на конкурс «Мир науки глазами детей».
      p Работы на конкурс принимаются до 12 сентября 2021 года включительно.
      p Публикация работ модераторами будет проводиться в период с 13 по 30 сентября 2021 года. Экспертиза и рассмотрение работ жюри будут проведены до 3 октября. Информирование о результатах конкурсного отбора будет осуществляться по электронной почте в срок до 6 октября.
      p Выставка работ победителей состоится 8-10 октября 2021 года в рамках XVI Всероссийского Фестиваля науки в городе Москве. Награждение победителей состоится 10 октября.
      p После публикации каждой работы модератором конкурса под ней появится ссылка для скачивания сертификата участника - автора этой работы. Преподаватели, приславшие работы своих учеников, смогут получить благодарность за подготовку участников конкурса после публикации модератором как минимум одной такой работы.
      p Благодарим Вас за участие в конкурсе и желаем удачи!
