include ../breadcrumbs/_breadcrumbs

// Profile page
.iPage
  .iPage__holder
    .container
      .iPage__breadcrumbs
        +breadcrumbs(['Главная', 'Личный кабинет'])
      h1.h2-title.c-accent Личный кабинет

      // profile
      .profile.js-tabs
        .profile__tabs
          ul.profile__tabs-nav.profile__tabs-nav--width-auto.js-tabs-nav
            li.is-active
              a(href="#profile") Профиль
            li
              a(href="#works") Заявленные работы
            li
              a(href="#events") Интересные мероприятия
            li
              a(href="#myevents") Я иду!

        // NEXT TAB (Profile)
        .js-tab(data-tab="profile" style="display: block")
          include parts/_info
          include parts/_note

        // NEXT TAB (works)
        .js-tab(data-tab="works")
          include parts/_works

        // NEXT TAB (events)
        .js-tab(data-tab="events")
          include parts/_events

        // NEXT TAB (events)
        .js-tab(data-tab="myevents")
          include parts/_myevents


