include ../breadcrumbs/_breadcrumbs


// event page
.event-page
  .event-page__holder
    .container
      .event-page__breadcrumbs
        +breadcrumbs(['Главная', 'Мероприятия'])

      h1.h2-title.c-accent Мероприятия
      .event-page__wrapper
        // sidebar
        .event-page__sidebar
          form(action="#")
            // section
            .event-page__sidebar-section
              .ui-group
                label(for="categories") Смотреть категории
                select.js-choices.ui-input(id="categories")
                  option() Все
                  option() Категория 1
                  option() Категория 1

              .ui-group
                label(for="event_name") Название мероприятия
                input.ui-input(type="text" id="event_name")

              .ui-group
                label(for="city") Выбрать город
                select.js-choices.ui-input(id="city" placeholder="Выберите")
                  option() Все
                  option() Категория 1
                  option() Категория 1

              .event-page__sidebar-cta
                button(type="submit").btn.btn-filled.btn--sm Применить
                button(type="button").btn.btn-primary.btn-primary--white.btn--sm Очистить

            // section
            .event-page__sidebar-section
              .ui-group
                label Формат:
                .ui-checkbox
                  input(id="format_1" type="checkbox" name="format")
                  label(for="format_1")
                    span Онлайн
                .ui-checkbox
                  input(id="format_1" type="checkbox" name="format")
                  label(for="format_1")
                    span Оффлайн

              .ui-group
                label Область знаний:
                .ui-checkbox
                  input(id="topic_1" type="checkbox" name="topic")
                  label(for="topic_1")
                    span Биология и науки о Жизни
                .ui-checkbox
                  input(id="topic_2" type="checkbox" name="topic")
                  label(for="topic_2")
                    span Гуманитарные науки
                .ui-checkbox
                  input(id="topic_3" type="checkbox" name="topic")
                  label(for="topic_3")
                    span Другое
                .ui-checkbox
                  input(id="topic_4" type="checkbox" name="topic")
                  label(for="topic_4")
                    span Математика и информатика
                .ui-checkbox
                  input(id="topic_5" type="checkbox" name="topic")
                  label(for="topic_5")
                    span Науки о Земле
                .ui-checkbox
                  input(id="topic_6" type="checkbox" name="topic")
                  label(for="topic_6")
                    span Общественные науки
                .ui-checkbox
                  input(id="topic_7" type="checkbox" name="topic")
                  label(for="topic_7")
                    span Техника и инженерные науки
                .ui-checkbox
                  input(id="topic_8" type="checkbox" name="topic")
                  label(for="topic_8")
                    span Физика и астрономия
                .ui-checkbox
                  input(id="topic_9" type="checkbox" name="topic")
                  label(for="topic_9")
                    span Химия и нанотехнологии

              .ui-group
                label Тип мероприятия:
                .ui-checkbox
                  input(id="type_1" type="checkbox" name="type")
                  label(for="type_1")
                    span Лекция
                .ui-checkbox
                  input(id="type_2" type="checkbox" name="type")
                  label(for="type_2")
                    span Презентация
                .ui-checkbox
                  input(id="type_3" type="checkbox" name="type")
                  label(for="type_3")
                    span Мастер-класс
                .ui-checkbox
                  input(id="type_4" type="checkbox" name="type")
                  label(for="type_4")
                    span День открытых дверей
                .ui-checkbox
                  input(id="type_5" type="checkbox" name="type")
                  label(for="type_5")
                    span Экскурсия
                .ui-checkbox
                  input(id="type_6" type="checkbox" name="type")
                  label(for="type_6")
                    span Фильм
                .ui-checkbox
                  input(id="type_7" type="checkbox" name="type")
                  label(for="type_7")
                    span Концерт, научное шоу
                .ui-checkbox
                  input(id="type_8" type="checkbox" name="type")
                  label(for="type_8")
                    span Конкурс
                .ui-checkbox
                  input(id="type_9" type="checkbox" name="type")
                  label(for="type_9")
                    span Конференция, научная школа
                .ui-checkbox
                  input(id="type_10" type="checkbox" name="type")
                  label(for="type_10")
                    span Круглый стол
                .ui-checkbox
                  input(id="type_11" type="checkbox" name="type")
                  label(for="type_11")
                    span Олимпиада
                .ui-checkbox
                  input(id="type_12" type="checkbox"  name="type")
                  label(for="type_12")
                    span Семинар


              .ui-group
                label Целевая аудитория
                .ui-checkbox
                  input(id="aud_1" type="checkbox" name="aud")
                  label(for="aud_1")
                    span Абитуриенты
                .ui-checkbox
                  input(id="aud_2" type="checkbox" name="aud")
                  label(for="aud_2")
                    span Будет интересно всем
                .ui-checkbox
                  input(id="aud_3" type="checkbox" name="aud")
                  label(for="aud_3")
                    span Взрослые
                .ui-checkbox
                  input(id="aud_4" type="checkbox" name="aud")
                  label(for="aud_4")
                    span Специалисты
                .ui-checkbox
                  input(id="aud_5" type="checkbox" name="aud")
                  label(for="aud_5")
                    span Студенты
                .ui-checkbox
                  input(id="aud_6" type="checkbox" name="aud")
                  label(for="aud_6")
                    span Школьники

              .event-page__sidebar-cta
                button(type="submit").btn.btn-filled.btn--sm Применить
                button(type="button").btn.btn-primary.btn-primary--white.btn--sm Очистить


        // content
        .event-page__content
          .row
            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__image
                  img(src='img/events/event-3.jpg' srcset='img/events/event-3@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title Конкурс для журналистов и блогеров «ProПигмент»

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__image
                  img(src='img/events/event-1.jpg' srcset='img/events/event-1@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like.is-active
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title СОВРЕМЕННЫЕ ТЕНДЕНЦИИ ИНФОРМАЦИОННОЙ ПОДДЕРЖКИ И НАУКИ…

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__tag
                  img(src='img/decor/currentEvent.svg')
                .eventCard__image
                  img(src='img/events/event-4.jpg' srcset='img/events/event-4@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title Конкурс для журналистов и блогеров «ProПигмент»

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__image
                  img(src='img/events/event-2.jpg' srcset='img/events/event-2@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like.is-active
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title СОВРЕМЕННЫЕ ТЕНДЕНЦИИ ИНФОРМАЦИОННОЙ ПОДДЕРЖКИ И НАУКИ…

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__tag
                  img(src='img/decor/currentEvent.svg')
                .eventCard__image
                  img(src='img/events/event-4.jpg' srcset='img/events/event-4@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title Конкурс для журналистов и блогеров «ProПигмент»

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__image
                  img(src='img/events/event-3.jpg' srcset='img/events/event-3@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title Конкурс для журналистов и блогеров «ProПигмент»

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__image
                  img(src='img/events/event-1.jpg' srcset='img/events/event-1@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like.is-active
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title СОВРЕМЕННЫЕ ТЕНДЕНЦИИ ИНФОРМАЦИОННОЙ ПОДДЕРЖКИ И НАУКИ…

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__tag
                  img(src='img/decor/currentEvent.svg')
                .eventCard__image
                  img(src='img/events/event-4.jpg' srcset='img/events/event-4@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title Конкурс для журналистов и блогеров «ProПигмент»

            .col.col-4.col-xl-6
              a(href="#").eventCard
                .eventCard__tag
                  img(src='img/decor/currentEvent.svg')
                .eventCard__image
                  img(src='img/events/event-3.jpg' srcset='img/events/event-3@2x.jpg')
                .eventCard__year 2021
                .eventCard__date 21 ноября
                .eventCard__meta
                  | 14:10 — 15:10
                  br
                  | Мастер-Класс | Офлайн
                .eventCard__row
                  .eventCard__location
                    +svgMono('location-outline')
                    span Тамбов
                  .eventCard__like
                    .eventCard__like-icon
                      +svgMono('like-outline')
                      +svgMono('like')
                    span Я ИДУ!

                .eventCard__arrow.dynamic-arrow.dynamic-arrow--wide
                  +svgMono('arrow-right-end')
                .eventCard__title Конкурс для журналистов и блогеров «ProПигмент»


          .event-page__pagination
            include ../pagination/_pagination
