// cities
.cities
  background: #000
  color: white
  padding: 60px 0 80px


  &__featured
    margin-top: 14px
    font-size: 64px
    line-height: 1.2
    font-weight: 500
    a
      position: relative
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 3px
        background: white
        transition: height .25s $ease
      &:hover
        &::after
          height: 1px
