// cities
.cities
  .container
    .p-label Всероссийский Фестиваль Науки проходит в городах:

    .cities__featured <a href="#">Москва</a>, <a href="#">Сочи</a>, <a href="#">Новосибирск</a>, <a href="#">Суздаль</a>, <a href="#">Липецк</a>, <a href="#">Великий Новгород</a>, <a href="#">Вологда</a>, <a href="#">Тольятти</a>
      .cities__selector
        span —
        .cities__selector-action
          span выбери свой город
          +svgMono('caret')

        span &nbsp;из 80 регионов.
