// cities
.cities.section-dark
  .container
    .p-label Всероссийский Фестиваль Науки проходит в городах:

    .cities__featured <a href="#">Москва</a>,&nbsp; <a href="#">Сочи</a>,&nbsp; <a href="#">Новосибирск</a>,&nbsp; <a href="#">Суздаль</a>,&nbsp; <a href="#">Липецк</a>,&nbsp; <a href="#">Великий Новгород</a>,&nbsp; <a href="#">Вологда</a>,&nbsp; <a href="#">Тольятти</a>
      .cities__selector
        span —
        .cities__selector-action.js-open-overlay(data-id="cities")
          span выбери свой город
          +svgMono('caret')

        span &nbsp;из 80 регионов.

include ../overlay/_cities.pug
