// cities
.cities.cities--compact.section-dark
  .container
    .cities__wrapper
      .cities__featured Москва
        .cities__selector
          .cities__selector-action.cities__selector-action--small
            span выбрать другой город
            +svgMono('caret')

      .cities__decor
        img(src='img/decor/events-going.png' srcset='img/decor/events-going@2x.png 2x')
