---
title: Страница города
---
extends shared/_layout
block content

  include ../components/cities/_city.pug
  include ../components/mainEvent/_mainEvent.pug
  include ../components/upcomingEvents/_inCity.pug
  include ../components/headliners/_headliners.pug
  include ../components/events/_events.pug
  include ../components/actions/_actions.pug
  include ../components/partners/_partners.pug
