---
title: Главная
---
extends shared/_layout
block content

  include ../components/cities/_cities.pug
  include ../components/mainEvent/_mainEvent.pug
  include ../components/upcomingEvents/_upcomingEvents.pug
  include ../components/projects/_projects.pug
  include ../components/news/_news.pug
  include ../components/greetings/_greetings.pug
  include ../components/partners/_partners.pug
