---
title: Страница новости
---
extends shared/_layout
block content
  .js-header-class(data-class="no-bb")

  include ../components/page/_news.pug

block footer
  include ../components/footer/_simple.pug
