---
title: Личный кабинет
---
extends shared/_layout
block content
  .js-header-class(data-class="no-bb")

  include ../components/profile/_profile.pug

block footer
  include ../components/footer/_simple.pug
