// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="homepage.html").header__logo
        i.icon.icon-logo
        i.icon.icon-logo-mini

      .header__main
        // top
        .header__main-top
          ul.header__socials.social-list.social-list--c-primary
            li
              a(href='#')
                +svgMono('social-facebook')
            li
              a(href='#')
                +svgMono('social-vk')
            li
              a(href='#')
                +svgMono('social-instagram')
            li
              a(href='#')
                +svgMono('social-youtube')
            li
              a(href='#')
                +svgMono('social-tiktok')

          .header__actions
            .header__action.header__action--location
              +svgMono('location-outline')
              span.header__action-text Москва
              a(href="#" data-id="cities").header__language.js-open-overlay
                span Изменить
                +svgMono('caret')
            a(href="#" data-id="search").header__action.js-open-overlay
              +svgMono('search')
              span.header__action-text Поиск
            a(href="#").header__action
              +svgMono('user')
              span.header__action-text Личный кабинет

            .header__hamburger
              .hamburger.js-hamburger
                span
                span
                span

        // menu
        ul.header__menu.js-teleport(data-teleport-to="mobilenavi" data-teleport-condition="<992")
          li
            a(href="homepage.html") Новости
          li.has-ul
            a(href="page.html")
              span О Фестивале
              +svgMono('caret')
            ul
              li
                a(href="#") Новости
              li
                a(href="#") Мероприятия Фестиваля
              li
                a(href="#") Оставить отзыв
              li
                a(href="#") Частые вопросы
              li
                a(href="#") Контакты
              li
                a(href="#") Архив

          li.has-ul
            a(href="page.html")
              span Медиатека
              +svgMono('caret')
            ul
              li
                a(href="#") Вся медиатека
              li
                a(href="#") Фотогалерея
              li
                a(href="#") Видеогалерея
              li
                a(href="#") Научно-популярные статьи
              li
                a(href="#") Материалы для скачивания
              li
                a(href="#") Пресса о нас

          li.has-ul
            a(href="page.html")
              span Конкурсы
              +svgMono('caret')
            ul
              li
                a(href="#") Все конкурсы
              li
                a(href="#") Мир науки глазами детей
              li
                a(href="#") Ученые будущего
              li
                a(href="#") Снимай науку!
              li
                a(href="#") Инновационная журналистика
              li
                a(href="#") STEM – центры
          li.has-ul
            a(href="page.html")
              span Мероприятия
              +svgMono('caret')
            ul
              li
                a(href="#") Все мероприятия
              li
                a(href="#") Выставки
              li
                a(href="#") Лекции
              li
                a(href="#") Мастер-классы
              li
                a(href="#") Научные шоу
              li
                a(href="#") Презентации
              li
                a(href="#") Телемосты
              li
                a(href="#") Экскурсии
              li
                .header__menu-separator
              li
                a(href="#") Мероприятия на карте
              li
                a(href="#") Онлайн
              li
                a(href="#") Офлайн

          li
            a(href="page.html") Прессе
          li
            a(href="page.html") Контакты



include ../overlay/_cities.pug
include ../overlay/_search.pug




// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__decor.type-1
      include ./mobileMenuDecor-1.svg
    .mobile-navi__decor.type-2
      include ./mobileMenuDecor-2.svg
    .mobile-navi__decor.type-3
      include ./mobileMenuDecor-3.svg

    .mobile-navi__scroller
      .mobile-navi__cta
        .header__action.mobile-navi__location
          +svgMono('location-outline')
          span.header__action-text Москва
          a(href="#" data-id="cities").header__language.js-open-overlay
            span Изменить
            +svgMono('caret')

        ul.mobile-navi__socials.social-list.social-list--c-primary.js-teleport(data-teleport-condition="<576" data-teleport-to="mobilenaviSocials")
          li
            a(href='#')
              +svgMono('social-facebook')
          li
            a(href='#')
              +svgMono('social-vk')
          li
            a(href='#')
              +svgMono('social-instagram')
          li
            a(href='#')
              +svgMono('social-youtube')
          li
            a(href='#')
              +svgMono('social-tiktok')

      ul.mobile-navi__menu(data-teleport-target="mobilenavi")

      ul.mobile-navi__socials.mobile-navi__socials--sm.social-list.social-list--c-primary(data-teleport-target="mobilenaviSocials")
