/* HEADER*/
.header
  position: static
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: #000000
  color: white
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  &__wrapper
    display: flex
    padding: 44px 0

  &__logo
    flex: 0 0 auto
    font-size: 0
    padding-right: 30px
    transition: opacity .25s $ease
    will-change: opacity
    &:hover
      opacity: 0.75
    .ico
      font-size: 92px

  &__main
    flex: 0 1 auto
    margin: 0 0 0 auto
    display: flex
    flex-direction: column

  &__main-top
    display: flex
    align-items: center

  &__socials
    padding-right: 24px
    margin-top: -5px

  &__actions
    margin-left: auto
    margin-right: -5px

  &__action
    display: inline-flex
    align-items: center
    font-size: 0
    margin-right: 16px
    padding: 5px
    &:last-child
      margin-right: 0
    .ico
      font-size: 15px
    span
      display: inline-block
      font-size: 16px
      font-weight: 500
      margin-left: 8px
      color: $colorPrimary
      transition: color .25s $ease
    &:hover
      span
        color: white


  &__menu
    flex: 0 1 auto
    display: flex
    align-items: center
    margin: auto -5px -5px 0
    padding: 0
    li
      display: inline-block
      font-size: 16px
      font-weight: 500
      text-transform: uppercase
      margin-right: 26px
      &:last-child
        margin-right: 0
    a
      display: inline-block
      padding: 5px
      color: white
      transition: color .25s ease
      &:hover
        color: $colorPrimary

  &__hamburger
    display: none
    padding-left: 20px

  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    transform: translate3d(0,-100%,0) !important
    transition: transform .25s ease
    .header__wrapper
      padding-top: 10px
      padding-bottom: 10px

  &.is-fixed-visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s ease
    transform: translate3d(0,-100%,0) !important
