// partners
.partners
  &__section
    margin-top: 52px
  &__row
    margin: 0
    .col
      padding: 0
    &--main
      margin-top: 46px
    &--sub
      margin-top: 26px
  &__col
    display: flex
    flex-direction: column

  &__card
    flex: 1 0 auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border: 1px solid $borderColor
    min-height: 158px
    padding: 8px
    &--bl
      border-left-color: $colorAccent
    img
      max-width: 100%

+r($lg)
  .partners
    &__section
      margin-top: 30px
    &__row
      &--main
        margin-top: 18px
      &--sub
        margin-top: 18px
    &__card
      min-height: 102px

+r($sm)
  .partners
    &__card
      border-left-color: $borderColor
