// mainEvent
.mainEvent
  .container
    .p-label Главное событие
    .mainEvent__date 8-10 октября, Москва

    .mainEvent__title-wrapper
      .mainEvent__title ВСЕРОССИЙСКИЙ
        br
        | ФЕСТИВАЛЬ
        br
        | НАУКИ
        +svgMono('mainEventTitleDecor')

      .mainEvent__image
        img(src='img/events/mainEvent.png' srcset='img/events/mainEvent@2x.png 2x')

    .mainEvent__bottom
      .mainEvent__bottom-left
        a(href="#").btn.btn-primary Подробнее

      .mainEvent__bottom-right
        .mainEvent__locations
          .mainEvent__location
            +svgMono('location')
            p Фундаментальная библиотека МГУ
          .mainEvent__location
            +svgMono('location')
            p Шуваловский корпус МГУ
          .mainEvent__location
            +svgMono('location')
            p Экспоцентр
          .mainEvent__location
            +svgMono('location')
            p Российская Академия Наук
          .mainEvent__location
            +svgMono('location')
            p Зарядье

        .mainEvent__locations-title + 90 площадок по всей Москве
