// mainEvent
.mainEvent
  background: #2B268E
  color: white
  padding: 64px 0 72px
  &__date
    margin-top: 18px
    font-size: 64px
    font-weight: 500
    line-height: (78 / 64)
    color: $colorYellow
  &__title-wrapper
    position: relative

  &__title
    font-weight: bold
    font-size: 96px
    line-height: 110%
    text-transform: uppercase
    .ico
      font-size: 73px

  &__image
    position: absolute
    bottom: 10px
    right: 0
    img
      max-width: 100%

  &__bottom
    margin-top: 36px
    display: flex
    align-items: flex-end

  &__bottom-left
    flex: 0 0 auto

  &__bottom-right
    flex: 0 1 1020px
    margin-left: auto

  &__locations
    display: flex
    margin: -10px

  &__location
    flex: 0 0 20%
    max-width: 20%
    padding: 10px
    .ico
      color: $colorYellow
      font-size: 42px
    p
      display: block
      margin: 10px 0 0
      font-size: 18px
      line-height: 1

  &__locations-title
    margin-top: 18px
    font-size: 64px
    font-weight: 500
    line-height: 1
    color: $colorYellow
