include ../breadcrumbs/_breadcrumbs

// Event page
.iPage
  .iPage__holder
    .container

      // new
      .i-news
        .i-news__content
          .i-news__date 07.08.2021
          .i-news__title.h3-title Институт биоорганической химии имени М. М. Шемякина и Ю. А. Овчинникова РАН

          .i-news__body
            .wysiwyg
              h2
              p ИБХ РАН является одной их крупнейших научных организаций, подведомственных Министерству науки и высшего образования РФ. Институт является лидером в проведении фундаментальных и ориентированных на инновации научных работ в областях молекулярной, структурной и клеточной биологии, биоорганической химии, биофизики, биоинженерии, клеточных технологий (включая репрограммирование Т-клеток, конструирование векторов для направленной доставки лекарственных соединений), молекулярных основ прижизненного биоимиджинга, редактирование генома, биоинформатики и др. Такая многодисциплинарная структура позволяет выполнять широкомасштабные исследования на стыке наук, где сегодня и рождаются наиболее интересные научные открытия. Научно-исследовательская программа Института соответствует приоритетному направлению развития науки «Науки о жизни» и критическим технологиям РФ: «Биокаталитические, биосинтетические и биосенсорные технологии», «Биомедицинские и ветеринарные технологии», «Геномные, протеомные и постгеномные технологии» и «Клеточные технологии». Кроме того, ИБХ РАН имеет возможность реализовать путь внедрения потенциального лекарственного соединения, начиная от дизайна молекулы до проведения сертифицированных доклинических испытаний, и наработку препарата для клинических испытаний на сертифицированном биотехнологическом производстве Института.
              p Отличительная особенность Института, его «визитная карточка», — концентрация усилий и ресурсов на решении наиболее актуальных и сложных задач в области наук о жизни, к решению которых привлекаются талантливая молодежь и ведущие специалисты, включая мировых отечественных и зарубежных лидеров науки, Лауреатов Нобелевской премии, членов международного консультативного совета ИБХ РАН.
              p Высокий уровень профессионализма сотрудников, имеющаяся приборная база, а также координация отделов и выстроенные механизмы работы внутри Института, позволяют успешно осуществлять научную деятельность по самым актуальным направлениям физико-химической биологии и биотехнологии, быстро отвечать современным вызовам времени и оставаться лидирующим институтом в России и мире.

            .i-news__panel
              .wysiwyg
                h4 Контактная информация
                p
                  | <strong> Сайт:</strong> <a href="#">www.ibch.ru</a>
                  br
                  | <strong>Телефон для справок в дни Фестиваля:</strong> +7 925 191-04-24
                  br
                  | <strong> Адрес:</strong> Москва 117997, ул. Миклухо-Маклая 16/10

            .i-news__map
              .js-ymap(data-center="55.648870,37.510349" data-placeholder="55.648870,37.510349" data-caption="caption" data-balloon="balloon")
