// Overlay
.overlay(data-overlay-id="cities" data-set-height)
  .overlay__bg
  .overlay__content
    .container
      .overlay__wrapper
        .overlay__close
          +svgMono('close')
        .overlay__scroller
          .overlay__cities
            .row
              .col.col-3.col-md-6
                a(href="#") Абакан
                a(href="#") Авторемзавод
                a(href="#") Алханчурт
                a(href="#") Ангарск
                a(href="#") Апатиты
                a(href="#") Арзамас
                a(href="#") Армавир
                a(href="#") Армхи
                a(href="#") Архангельск
                a(href="#") Архонская
                a(href="#") Астрахань
                a(href="#") Балаково
                a(href="#") Балашов
                a(href="#") Барнаул
                a(href="#") Белгород
                a(href="#") Бердск
                a(href="#") Беслан
                a(href="#") Бийск
                a(href="#") Биробиджан
                a(href="#") Благовещенск
                a(href="#") Ближняя Игуменка
                a(href="#") Борисоглебск
                a(href="#") Боровичи
                a(href="#") Брянск
                a(href="#") Бузулук
                a(href="#") Ведлозеро
                a(href="#") Великий Новгород
                a(href="#") Владивосток
                a(href="#") Владикавказ
                a(href="#") Владимир
                a(href="#") Волгоград
                a(href="#") Вологда
                a(href="#") Воронеж
                a(href="#") Выборг
                a(href="#") Выкса
                a(href="#") Вязьма
                a(href="#") г Москва
                a(href="#") г. Владивосток
                a(href="#") г.Кстово
                a(href="#") г.Обнинск
                a(href="#") Геленджик
                a(href="#") Глазов
                a(href="#") Горно-Алтайск
                a(href="#") город Тверь
                a(href="#") Грозный
                a(href="#") Губкин
                a(href="#") Дедеркой
                a(href="#") Дедеркой, Туапсинский район
                a(href="#") Десногорск
                a(href="#") Димитровград
                a(href="#") Долгопрудный
                a(href="#") Дондыкар
                a(href="#") Дубна
                a(href="#") Екатеринбург
                a(href="#") Елец
                a(href="#") Звенигород
                a(href="#") Зеленоград
                a(href="#") Змеиногорск
                a(href="#") Иваново
                a(href="#") Ижевск
                a(href="#") Иркутск
                a(href="#") Ишим
                a(href="#") Йошкар-Ола
              .col.col-3.col-md-6
                a(href="#") Казань
                a(href="#") Калининград
                a(href="#") Калуга
                a(href="#") Канаш
                a(href="#") Кемерово
                a(href="#") Киров
                a(href="#") Кировск
                a(href="#") Ковров
                a(href="#") Кольцово
                a(href="#") Комсомольск-на-Амуре
                a(href="#") Кострома
                a(href="#") Красногорск
                a(href="#") Краснодар
                a(href="#") Краснокаменск
                a(href="#") Красноярск
                a(href="#") Курган
                a(href="#") Курск
                a(href="#") Куртат
                a(href="#") Кызыл
                a(href="#") Лабытнанги
                a(href="#") Лесосибирск
                a(href="#") Липецк
                a(href="#") Магас
                a(href="#") Магнитогорск
                a(href="#") Майкоп
                a(href="#") Махачкала
                a(href="#") Мелеуз
                a(href="#") Менделеево
                a(href="#") Миасс
                a(href="#") Михайловское
                a(href="#") Мичуринск
                a(href="#") Моздок
                a(href="#") Мончегорск
                a(href="#") Москва
                a(href="#") Москва, Зеленоград
                a(href="#") Мурманск
                a(href="#") Мурмнск
                a(href="#") Мытищи
                a(href="#") Надым
                a(href="#") Нижнекамск
                a(href="#") Нижний Новгород
                a(href="#") Нововолково
                a(href="#") Новокузнецк
                a(href="#") Новокуйбышевск
                a(href="#") Новомосковск
                a(href="#") Новороссийск
                a(href="#") Новосибирск
                a(href="#") Норильск
                a(href="#") Обнинск
                a(href="#") Октябрьский
                a(href="#") Октябрьское
                a(href="#") Омск
                a(href="#") Орел
                a(href="#") п. Дивноморское
                a(href="#") п. Калининский
                a(href="#") п. Караваево
                a(href="#") п. Майский
                a(href="#") п. Нижний Цей
                a(href="#") п. Октябрьский
                a(href="#") п. Притеречный
                a(href="#") п. Прохоровка
                a(href="#") п. Сернур
                a(href="#") п. Тельмана

              .col.col-3.col-md-6
                a(href="#") п.г.т. Усть-Кинельский
                a(href="#") п.Прохоровка
                a(href="#") п.Развилка
                a(href="#") п.Ушаково
                a(href="#") пгт Шерловая гора
                a(href="#") пгт. Могойтуй
                a(href="#") Пенза
                a(href="#") Пермь
                a(href="#") Петровск
                a(href="#") Петрозаводск
                a(href="#") Петропавловск-Камчатский
                a(href="#") Печерск
                a(href="#") Плишкино
                a(href="#") Полярные Зори
                a(href="#") Полярные Зори город
                a(href="#") Пос. Института Полиомиелита
                a(href="#") Прохоровка
                a(href="#") Пряжа
                a(href="#") Псков
                a(href="#") Пущино
                a(href="#") Пятигорск
                a(href="#") р.п. Богородское
                a(href="#") р.п. Кольцово
                a(href="#") Раменское
                a(href="#") Рассказово
                a(href="#") Рославль
                a(href="#") Ростов-на-Дону
                a(href="#") РСО-Алания, с. Ногир
                a(href="#") Рубцовск
                a(href="#") Рязань
                a(href="#") с. Алтайское
                a(href="#") с. Виноградное
                a(href="#") с. Гизель
                a(href="#") с. Заманкул
                a(href="#") с. Зильги
                a(href="#") с. Ир
                a(href="#") с. Камбилеевское
                a(href="#") с. Киевское
                a(href="#") с. Кизляр
                a(href="#") с. Комгарон
                a(href="#") с. Крошнозеро
                a(href="#") с. Ласково
                a(href="#") с. Михайловское
                a(href="#") с. Ногир
                a(href="#") с. Октябрьское
                a(href="#") с. Паратунка
                a(href="#") с. Предгорное
                a(href="#") с. Раздольное
                a(href="#") с. Сухотское
                a(href="#") с. Тарское
                a(href="#") с. Троицкое
                a(href="#") с.Дарг-Кох
                a(href="#") с.Цей
                a(href="#") с.Чермен
                a(href="#") Салават
                a(href="#") Салехард
                a(href="#") Самара
                a(href="#") Санкт-Петербург
                a(href="#") Саранск
                a(href="#") Саратов
                a(href="#") Сасово
                a(href="#") Саяногорск
                a(href="#") Севастополь
              .col.col-3.col-md-6
                a(href="#") Северодвинск
                a(href="#") Северск
                a(href="#") село Лесниково
                a(href="#") село Полковниково
                a(href="#") село Федоскино
                a(href="#") село Холуй
                a(href="#") Сергиев Посад
                a(href="#") Сибай
                a(href="#") Симферополь
                a(href="#") Смоленск
                a(href="#") Сосновый Бор
                a(href="#") Сочи
                a(href="#") ст. Луковская
                a(href="#") ст. Старая Станица
                a(href="#") ст. Терская
                a(href="#") ст. Черноярская
                a(href="#") Ставрополь
                a(href="#") Стародуб
                a(href="#") Старый Оскол
                a(href="#") Стерлитамак
                a(href="#") Суздаль
                a(href="#") Сургут
                a(href="#") Сызрань
                a(href="#") Сыктывкар
                a(href="#") Таганрог
                a(href="#") Тамбов
                a(href="#") Тамбовка
                a(href="#") Тара
                a(href="#") Тверь
                a(href="#") Темрюк
                a(href="#") Тобольск
                a(href="#") Тольятти
                a(href="#") Томск
                a(href="#") Томск (Томская обл.)
                a(href="#") Троицк
                a(href="#") Троицк Москва
                a(href="#") Троицк, Москва
                a(href="#") Туапсе
                a(href="#") Туймазы
                a(href="#") Тула
                a(href="#") Тюмень
                a(href="#") Улан-Удэ
                a(href="#") Ульяновск
                a(href="#") Усолье-Сибирское
                a(href="#") Уфа
                a(href="#") Ухта
                a(href="#") Фиагдон
                a(href="#") Хабаровск
                a(href="#") Ханты-Мансийск
                a(href="#") Химки
                a(href="#") Чебоксары
                a(href="#") Челябинск
                a(href="#") Череповец
                a(href="#") Черкесск
                a(href="#") Черноголовка
                a(href="#") Чита
                a(href="#") Шадринск
                a(href="#") Шатура
                a(href="#") Шелтозеро
                a(href="#") Энгельс
                a(href="#") Якутск
                a(href="#") Ярославль
                a(href="#") Ярцево
