// News events
.news.section-dark
  .container
    h2.h2-title.c-accent Новости науки

    .news__slider.swiper-container.js-swiper-news
      .swiper-wrapper
        .swiper-slide
          a(href="#").newsCard
            .newsCard__panel
              .newsCard__date
                span 06.09
              .newsCard__image
                img(src='img/news/news-1.jpg' srcset='img/news/news-1@2x.jpg 2x')
            .newsCard__title Ученые МГУ придумали, как улучшить урожай, используя меньше воды
        .swiper-slide
          a(href="#").newsCard
            .newsCard__panel
              .newsCard__date
                span 05.09
              .newsCard__image
                img(src='img/news/news-2.jpg' srcset='img/news/news-2@2x.jpg 2x')
            .newsCard__title Студенты МГУ создали возобновляемое космопитание на основе микроводорослей
        .swiper-slide
          a(href="#").newsCard
            .newsCard__panel
              .newsCard__date
                span 04.09
              .newsCard__image
                img(src='img/news/news-3.jpg' srcset='img/news/news-3@2x.jpg 2x')
            .newsCard__title В Карачаево-Черкесском ГУ имени У. Д. Алиева пройдет выставка «Горы. Герои. Символы»
        .swiper-slide
          a(href="#").newsCard
            .newsCard__panel
              .newsCard__date
                span 03.09
              .newsCard__image
                img(src='img/news/news-4.jpg' srcset='img/news/news-4@2x.jpg 2x')
            .newsCard__title Сотрудники факультета ВМК МГУ обнаружили способ решать сложные задачи без суперкомпьютера
        .swiper-slide
          a(href="#").newsCard
            .newsCard__panel
              .newsCard__date
                span 02.09
              .newsCard__image
                img(src='img/news/news-2.jpg' srcset='img/news/news-2@2x.jpg 2x')
            .newsCard__title Название карточки


      .swiper-navbar
        .swiper-prev.swiper-news-prev
          +svgMono('arrow-prev')
        .swiper-pagination.swiper-news-pagination
        .swiper-next.swiper-news-next
          +svgMono('arrow-next')
