// Headliners
.headliners.section-dark
  .container
    h2.h2-title.c-accent Хэдлайнеры

    .headliners__grid
      .row.no-margin
        .col.col-3
          .headlinerCard
            .headlinerCard__cover
              img(src='img/headliners/headliner-1.jpg' srcset='img/headliners/headliner-1@2x.jpg 2x')
            .headlinerCard__content
              .headlinerCard__name КИП ТОРН
              .headlinerCard__description американский физик и астроном, один из главных мировых экспертов по общей теории относительности
        .col.col-3
          .headlinerCard
            .headlinerCard__cover
              img(src='img/headliners/headliner-2.jpg' srcset='img/headliners/headliner-2@2x.jpg 2x')
            .headlinerCard__content
              .headlinerCard__name ИЛОН МАСК
              .headlinerCard__description американский предприниматель, инженер и миллиардер. <br/>Генеральный директор Tesla Motors
        .col.col-3
          .headlinerCard
            .headlinerCard__cover
              img(src='img/headliners/headliner-3.jpg' srcset='img/headliners/headliner-3@2x.jpg 2x')
            .headlinerCard__content
              .headlinerCard__name МАРК ЦУКЕРБЕРГ
              .headlinerCard__description американский предприниматель в области интернет-технологий
        .col.col-3
          .headlinerCard
            .headlinerCard__cover
              img(src='img/headliners/headliner-4.jpg' srcset='img/headliners/headliner-4@2x.jpg 2x')
            .headlinerCard__content
              .headlinerCard__name АЛЕКСЕЙ КАВОКИН
              .headlinerCard__description Руководитель научной группы Российского квантового центра
