.ico-mono-arrow-fat {
  width: 0.62em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-arrow-next {
  width: 0.58em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-arrow-prev {
  width: 0.58em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-right-end {
  width: 0.69em;
  height: 1em;
  fill: #E54323;
}
.ico-mono-calendar {
  width: 0.95em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-location-outline {
  width: 0.83em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-location {
  width: 0.76em;
  height: 1em;
  fill: #FCBA27;
}
.ico-mono-mainEventTitleDecor {
  width: 2.05em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-social-tiktok {
  width: 1em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-social-vk {
  width: 1.67em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-social-youtube {
  width: 1.33em;
  height: 1em;
  fill: #1BA4DF;
}
.ico-mono-user {
  width: 0.88em;
  height: 1em;
  fill: #fff;
}
