// Actions
.actions
  .container
    .actions__wrapper
      .row.no-margin
        .col.col-3.col-xl-6
          a(href="#").actionCard.actionCard--blue
            .actionCard__decor
              img(src='img/actions/action-1.svg')
            .actionCard__content
              .actionCard__title ОРГАНИЗОВАТЬ
              .actionCard__description Фестиваль науки на своей площадке
              .actionCard__arrow
                +svgMono('arrow-right-end')
        .col.col-3.col-xl-6
          a(href="#").actionCard.actionCard--dark-blue
            .actionCard__decor
              img(src='img/actions/action-2.svg')
            .actionCard__content
              .actionCard__title СТАТЬ ПАРТНЁРОМ
              .actionCard__description Наука 0+
              .actionCard__arrow
                +svgMono('arrow-right-end')
        .col.col-3.col-xl-6
          a(href="#").actionCard.actionCard--red
            .actionCard__decor
              img(src='img/actions/action-3.svg')
            .actionCard__content
              .actionCard__title СТАТЬ УЧАСТНИКОМ
              .actionCard__description всероссийской акции «Учёные в школе»
              .actionCard__arrow
                +svgMono('arrow-right-end')
        .col.col-3.col-xl-6
          a(href="#").actionCard.actionCard--yellow
            .actionCard__decor
              img(src='img/actions/action-4.svg')
            .actionCard__content
              .actionCard__title УЧАСТВОВАТЬ
              .actionCard__description в конкурсах фестиваля
              .actionCard__arrow
                +svgMono('arrow-right-end')
